.header_wrap
    #blog_name
        a#site-name.blog_title(href=url_for('/')) #[=config.title]
    .nav-right
        ul.menus_items
            each value, label in theme.menu
                if !Array.isArray(value)
                    li.menus_item
                        a.site-page(href=url_for(trim(value.split('||')[0])))=' ' + label
                else
                    li.menus_item
                        a.site-page=' ' + trim(label.split('||')[0])
        if theme.cv_dl.enable
            a.cv-button(href=url_for(theme.cv_dl.dir) target="_blank") CV as PDF
